@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    transition: 50ms all;

}

.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;

   
}

.coin-app.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
 
   
}

.coin-search {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-text {
    margin-bottom: 32px;
    text-align: center;
}

.coin-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(
        -225deg,
        #ac32e4 0%,
        #7918f2 48%,
        #4801ff 100%

    );
    color: #e2e2e2;

}

.coin-input::placeholder{
    color: #e2e2e2;
}

body{
    background-color: aliceblue;
    color: black;
}

body.dark {
    background-color: black;
    color: azure;
}

.mode-control span:nth-of-type(2){
    display: none;
}

.mode-control input:checked + span {
    display: none;
}

.mode-control input:checked + span + span {
    display: inline-block;
}

.mode-control input{
   
    position: 20px;
    opacity: 0;
}

.mode-control span{
    padding: 0 30px;
    
    border-radius: 7px;

    
    color: black;
    background-image: linear-gradient(
        -225deg,
        #4801ff 0%,
        #7918f2 48%,
         #ac32e4 100%

    );

}

body.dark .mode-control span {
    padding: 0 30px;
    
    border-radius: 7px;

    
    color: #fff;
    background-image: linear-gradient(
        -225deg,
        #4801ff 0%,
        #7918f2 48%,
         #ac32e4 100%

    );
}